#adminSendEmail{
  margin-top: -16px;
  background-image: url("../../assets/Images/admin_background.jpg") !important;
  height: 76vh;
  width: 100%;
  background-size: 100% 100%;
}

#adminBackgroundOpacity{
  background-color: rgba(0, 0, 0, 0.7);
  height: 76vh;
}

#container{
  background-color: rgba(255, 255, 255, 0.7);
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

@media screen and (max-width: 768px){
  #emailSubject{
    width: 300px;
  }

  #emailBody{
    width: 300px;
    height: 150px;
  }
}

@media screen and (min-width: 769px){
  #emailSubject{
    width: 600px;
  }

  #emailBody{
    width: 600px;
    height: 300px;
  }
}



.astrix{
  display: inline;
  color: red;
}
