<div id="menu">

  <p>MENU</p>

  <p>Snack Items</p>

  <p></p>

  <p>Light Meals (BBQ'd on Demand)</p>

  <p>Pulled Pork on a Kaiser $ 8.50</p>
  <p>BBQ Chicken Wings</p>
  <p>$14.50 (8)</p>
  <p>$17.75 (12)</p>
  <p>Grilled Chicken on a Bun $ 8.50</p>
  <p>BBQ Burger or Veggie Burger $ 8.50</p>
  <p>BBQ Sausage on a Bun $ 7.00</p>

  <p>Non-Alcohol Drinks</p>
  <p>Pop or Water $ 3.00</p>
  <p>Coffee, Tea $ 3.00</p>
  <p>Hot Chocolate $ 3.00</p>
  <p>Mocktails (12oz) $ 5.25</p>
  <p>Perrier $ 5.25</p>
  <p>Milk, Juice No-Al. Beer $ 6.25</p>

  <p>FULLY LICENSED LLBO</p>
  <p>Flying Monkey Draft Beer</p>
  <p>Domestic & Imported Beer</p>
  <p>Spirits - Wine - Cocktails - Liqueurs</p>

</div>
