<div id="menu" class="grid-container">
  <div class="leftPhotos">
    <img id="chickenWings" class="foodImageStyle" src="../../assets/foodImages/chickenWings.png">
    <img id="mocktail" class="foodImageStyle" src="../../assets/foodImages/mocktail.png">
    <img id="beer" class="foodImageStyle" src="../../assets/foodImages/beer.png">
  </div>

  <div class="rightPhotos">
    <img id="veggieBurger" class="foodImageStyle" src="../../assets/foodImages/VeggieBurger.png">
    <img id="hotChocolate" class="foodImageStyle" src="../../assets/foodImages/hotChocolate.png">
    <img id="wine" class="foodImageStyle" src="../../assets/foodImages/wine.png">
  </div>

  <div id="menuGrid">
    <p id="title"><b>MENU</b></p>

    <p><b>Snack Items</b></p>

    <p>French Fries (reg) $ 3.75 (lge) $ 6.00</p>

    <p><b>Light Meals (BBQ'd on Demand)</b></p>

    <p>Pulled Pork on a Kaiser $ 8.50</p>
    <p>BBQ Chicken Wings</p>
    <p>$14.50 (8)</p>
    <p>$17.75 (12)</p>
    <p>Grilled Chicken on a Bun $ 8.50</p>
    <p>BBQ Burger or Veggie Burger $ 8.50</p>
    <p>BBQ Sausage on a Bun $ 7.00</p>

    <p><b>Non-Alcohol Drinks</b></p>
    <p>Pop or Water $ 3.00</p>
    <p>Coffee, Tea $ 3.00</p>
    <p>Hot Chocolate $ 3.00</p>
    <p>Mocktails (12oz) $ 5.25</p>
    <p>Perrier $ 5.25</p>
    <p>Milk, Juice No-Al. Beer $ 6.25</p>

    <p><b>FULLY LICENSED LLBO</b></p>
    <p>Flying Monkey Draft Beer</p>
    <p>Domestic & Imported Beer</p>
    <p>Spirits - Wine - Cocktails - Liqueurs</p>
  </div>
</div>
<br><br>
