<script src="https://sdk.amazonaws.com/js/aws-sdk-2006-03-01.js"></script>
<script src="./moonshinephotos.js"></script>

<div id="adminPhotoGalleryBackground">
  <div id="welcomeMessage">
    <h1><span>Upload Photos</span></h1>
    <br><br>
    <label>Choose an option:</label>
    <select [(ngModel)]="albumName" name="albumName" (change)="lockAlbumName()">
      <option>Create New Album</option>
      <option *ngFor="let a of albums" value="{{a}}">{{a}}</option>
    </select>
    <br><br>
    <label>Album Name:</label>
    <input id="newAlbum" [(ngModel)]="albumName" name="albumName" type="text">
    <br><br>
    <input *ngIf="albumName" id="uploadPhoto" #file type="file" accept="image/*" (change)="upload(file.files, albumName)">
    <br><br>
    <span style="font-weight:bold;color:green;" *ngIf="message">
      {{message}}
    </span>
    <br><br>
    <button mat-raised-button id="updateDeleteSpace" *ngIf="albumName" (click)="getAlbumPhotos(albumName);">Update Album</button>
    <button mat-raised-button *ngIf="albumName" (click)="deleteAlbum(albumName)">Delete Album</button>

    <div id="albumArea">
      <div *ngFor="let photo of albumPhotos">
        <img class="photoStyle" src="https://moonshinephotostest.s3.amazonaws.com/{{photo}}">
        <div>
          <button mat-raised-button (click)="deleteFromAlbum(photo, albumName)">Delete Photo</button>
        </div>
      </div>
    </div>
  </div>
  <br><br>

</div>
