#adminPhotoGalleryBackground{
  margin-top: -16px;
  background-image: url("../../assets/Images/admin_background.jpg") !important;
  background-repeat: no-repeat;
  height: 79.9vh;
  width: 100vw;
  background-size: 100% 100%;
  text-align: center;
}

#welcomeMessage span{
  background-color: rgba(255, 255, 255, 0.7);
}
