<script src="https://sdk.amazonaws.com/js/aws-sdk-2006-03-01.js"></script>
<script src="./moonshinephotos.js"></script>

<div id="adminPhotoGalleryBackground">
  <div id="welcomeMessage">
    <h1><span>Upload Photos Here</span></h1>
    <input id="uploadPhoto" #file type="file" accept="image/*" (change)="upload(file.files)" />
    <br />
    <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
      {{progress}}%
    </span>
    <span style="font-weight:bold;color:green;" *ngIf="message">
      {{message}}
  </span>

  <!--<button (click)="delete()">Delete Photo(s)</button>-->

</div>

</div>
