<div id="homePage">
  <mat-grid-list cols="2" rowHeight="100px">

    <mat-grid-tile [colspan]="leftFirstTile.cols" [rowspan]="leftFirstTile.rows">
      <h3 id="leftTileHeader">Welcome to the <h3 id="leftMoonshineCafeColor">Moonshine Café</h3></h3>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="rightFirstTile.cols" [rowspan]="rightFirstTile.rows">
      <iframe width="350" height="300" src="https://www.youtube.com/embed/pDOoidfERvQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="leftSecondTile.cols" [rowspan]="leftSecondTile.rows">
      <div id="sptlightHeaderBackground">
        <h3 id="spotlightHeaderText">In The Spotlight</h3>
      </div>
      <!--<img src="../../assets/Images/homePage_inTheSpotlight.jpg">-->
    </mat-grid-tile>


    <mat-grid-tile [colspan]="leftThirdTile.cols" [rowspan]="leftThirdTile.rows">

      <!--
      <div class="spotlightGridContainer">
        <img class="spotlightImages" src="../../assets/Images/homePage_spotlightImageOne.jpg">
        <p class="spotlightHeaders"><a href="https://www.patreon.com/themoonshinecafe" target="_blank">MOONSHINE CAFE ON PATREON</a> : OPEN</p>
        <p class="spotlightText">For a modest monthly or annual subscription amount you can support The Moonshine Cafe while enjoying Live Streamed Events as
          they happen, or watching them at your convenience and access our archived shows. We have invested in hardware, software and
          the learning curve to be able to provide a polished production to our PATRONS.
        </p>
      </div>
      -->
    </mat-grid-tile>


    <mat-grid-tile [colspan]="rightSecondTile.cols" [rowspan]="rightSecondTile.rows">
      <iframe src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FToronto&amp;src=c2NodW5pY2RAZ21haWwuY29t&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4uY2FuYWRpYW4jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=dGhlbW9vbnNoaW5lY2FmZUBnbWFpbC5jb20&amp;color=%237986CB&amp;color=%233F51B5&amp;color=%23C0CA33&amp;color=%23E4C441&amp;mode=AGENDA&amp;showTitle=0" style="border:solid 1px #777" width="400" height="400" frameborder="0" scrolling="no"></iframe>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="bottomTile.cols" [rowspan]="bottomTile.rows">

    </mat-grid-tile>

  </mat-grid-list>
</div>
