<div id="viewReservationsBackground">
  <div id="welcomeMessage">
    <h1><span>View Reservations Here</span></h1>
    <select *ngIf="events; else noEvents" id="eventSelector" [(ngModel)]="eventId" name="eventId" (change)="GetReservationsBySelectedEventID(eventId)">
      <option *ngFor="let e of events" value="{{e.id}}">{{formatEventDate(e.eventStart)}} {{e.bandName}}  ${{e.ticketPrice}}</option>
    </select>
    <br class="mobileDelete"><br class="mobileDelete">
    <button mat-raised-button id="toggleDelete" (click)="toggleDelete()">Toggle Delete</button>
    <ng-template #noEvents>
      <p>There are no reservations at this time. Please check back later.</p>
    </ng-template>
    <br><br>

    <table mat-table *ngIf="reservations" [dataSource]="reservations" id="centerTable">

      <ng-container matColumnDef="Customer Name">
        <th mat-header-cell *matHeaderCellDef class="tableHeaders">Customer Name</th>
        <td class="test" mat-cell *matCellDef="let element" class="tableData">{{findSpecificCustomer(element.customerid)}}</td>
      </ng-container>

      <ng-container matColumnDef="Seats Reserved">
        <th mat-header-cell *matHeaderCellDef class="tableHeaders">Seats Reserved</th>
        <td class="test" mat-cell *matCellDef="let element" class="tableData"> {{element.numberOfSeats}} </td>
      </ng-container>

      <ng-container matColumnDef="Paypal ID">
        <th mat-header-cell *matHeaderCellDef class="tableHeaders">Paypal ID</th>
        <td class="test" mat-cell *matCellDef="let element" class="tableData"> {{element.paypalID}} </td>
      </ng-container>

      <ng-container matColumnDef="Time Reservation was Made">
        <th mat-header-cell *matHeaderCellDef class="tableHeaders">Time Reservation was Made</th>
        <td class="test" mat-cell *matCellDef="let element" class="tableData"> {{formatEventDate(element.timeResMade)}} </td>
      </ng-container>

      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef class="tableHeaders">Delete</th>
        <td class="test" mat-cell *matCellDef="let element" class="tableData"><button *ngIf="delete" mat-raised-button>Delete</button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <br><br>
  </div>
  <br><br>
</div>
