#viewReservationsBackground{
  margin-top: -16px;
  background-image: url("../../assets/Images/admin_background.jpg") !important;
  background-repeat: no-repeat;
  height: 79.9vh;
  width: 100vw;
  background-size: 100% 100%;
  text-align: center;
}

#welcomeMessage{
  background-color: rgba(255, 255, 255, 0.7);
}

.tableHeaders{
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#centerTable{
  margin-left: auto;
  margin-right: auto;
}
