
#calendar{width: 800px;}

.centerCalendar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#title{
  margin-left: auto;
  margin-right: auto;
}

#description{
  margin-left: auto;
  float:right;
}

.alignText{
  width: 120px;
}

#moonshineCalendar::-webkit-scrollbar {
  width: 1em;
}

#moonshineCalendar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

#moonshineCalendar::-webkit-scrollbar-thumb {
  background-color: rgb(131, 131, 131);
  border-radius: 10px;
  outline: 1px solid slategrey;
}

.bandPhotoStyle{
  width: 120px;
}

@media screen and (max-width: 767px){
  #moonshineCalendar{
    overflow-y: auto;
    width: 320px !important;
    height: 500px;
    border-radius: 5px;
  }
  #calendarTitle{margin-left: none !important;}
  #calendarLarge{display: none !important;}

}

@media screen and (min-width: 768px){
  #moonshineCalendar{
    overflow-y: auto;
    width: 1000px !important;
    height: 600px;
    border-radius: 5px;
  }
  .bigText{font-size: 1.5em;}
  #calendarTitle{margin-left:40px !important;}
  #calendarSmall{display: none !important;}

  }
