<div id="contact">

  <p id="title">Contact Us</p>

  <p>137 Kerr St. Oakville, ON</p>
  <p>905-844-2655</p>

  <br>
  <p>Mon – Fri: 4pm – 2am</p>
  <p>Sat – Sun: 3pm – 2am</p>

  <p>Email: moonshinecafe@cogeco.net</p>

  <p><b>LOCAL ARTISTS</b></p>
  
  <p>The Cafe walls have become a "mini" gallery featuring the works of local artists.</p>

  <p>Book Your Own Show at The Moonshine Cafe <a href="mailto:moonshinecafe@cogeco.net?subject=My Own Show">Here</a></p>

  <p>Book a Party or Private Function <a href="mailto:moonshinecafe@cogeco.net?subject=Private Function">Here</a></p>

  <iframe id="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?ie=UTF8&amp;q=moonshine+cafe&amp;fb=1&amp;gl=ca&amp;hq=moonshine+cafe&amp;hnear=Oakville,+ON&amp;cid=0,0,13625998645709408839&amp;ei=lNBxTOPCJsLRnAep-qG_CA&amp;ved=0CBsQnwIwAQ&amp;ll=43.440409,-79.675705&amp;spn=0.004674,0.006437&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>

  <br><br>
</div>
<br><br>
