<div  id="adminCrudBackground">
  <div id="adminBackgroundOpacity">

    <div id="container">

      <div id="create">
        <h1><span>Event Editor</span></h1><br>
        <mat-form-field id="eventTitle">
          <mat-label>Band Name / Event<p class="astrix">*</p></mat-label> <!--Summary-->
          <input [(ngModel)]="eventTitle" matNativeControl>
        </mat-form-field>
        <br>
        <mat-form-field id="eventLink">
          <mat-label>Band / Event Link</mat-label>
          <input [(ngModel)]="eventLink" matNativeControl>
        </mat-form-field>
        <br>
        <div id="eventImage">
          <input [(ngModel)]="eventImage" #file type="file" accept="image/*">
        </div>
        <br>
        <mat-form-field id="eventDescription">
          <mat-label>Description</mat-label>
          <textarea id="descriptionSize" [(ngModel)]="eventDescription" matInput placeholder="Event Description"></textarea>
        </mat-form-field>
        <br><br>
        <mat-form-field>
          <mat-label>Start Date & Time<p class="astrix">*</p></mat-label>
          <input [(ngModel)]="startDateTime" type="datetime-local" matNativeControl>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>End Date & Time<p class="astrix">*</p></mat-label>
          <input [(ngModel)]="endDateTime" type="datetime-local" matNativeControl>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Ticket Price<p class="astrix">*</p></mat-label>
          <input [(ngModel)]="ticketPrice" type="number" min="0" step="0.01" matNativeControl>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Max Seats<p class="astrix">*</p></mat-label>
          <input [(ngModel)]="maxSeats" type="number" min="1" max="60" matNativeControl>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Refund Cutoff Date & Time<p class="astrix">*</p></mat-label>
          <input [(ngModel)]="refundCutoffDateTime" type="datetime-local" matNativeControl>
        </mat-form-field>
        <br>

        <button mat-raised-button *ngIf="createButton" (click)="createEvent(file.files)">Create Event</button>
        <button mat-raised-button *ngIf="deleteButton" (click)="confirmDelete()">Confirm Delete</button>
        <button mat-raised-button *ngIf="editButton" (click)="confirmEdit(file.files)">Confirm Edit</button>
        <button mat-raised-button *ngIf="cancelButton" (click)="cancelEditDelete()" id="cancelButton">Cancel</button>

        <br><br>

      </div>


      <div id="editDelete">
      <fieldset>
        <legend>Edit/Delete</legend>
        <mat-vertical-stepper [selectedIndex]="stepperIndex">
          <mat-step label="Select Date">
            <mat-form-field>
              <input matInput name="dateDelete" [(ngModel)]="dateDelete" (dateChange)="resetEventName()" [matDatepicker]="picker" placeholder="Please Pick a Date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-step>

          <mat-step label="Select Event">
            <label id="warning" *ngIf="dateDelete == null;">Please Select a Date at the top first!</label>
            <select *ngIf="dateDelete != null" [(ngModel)]="eventID" name="eventID">
              <option>Please Select an Event</option>
              <option *ngFor="let e of filterEvents()" value="{{e.id}}">{{e.bandName}}</option>
            </select>
          </mat-step>
        </mat-vertical-stepper>
        <br>
        <button mat-raised-button (click)="editEvent()">Edit Event</button>
        <br><br>
        <button mat-raised-button (click)="deleteEvent()">Delete Event</button>
        <br><br>
      </fieldset>
      </div>

    </div>
    <br><br>
  </div>
</div>
