@media screen and (max-width: 768px){

  #eventDescription{
    width: 300px;
  }

  #eventTitle{
    width: 300px;
  }

  fieldset{
    border: 2px solid black;
    border-radius: 5px;
  }

  legend{
    width: 130px;
  }

  #container{
    padding: 5px;
  }

}

@media screen and (min-width: 768px){

  #container{
    display: grid;
    grid-template-areas: '. . . . create editDelete . . .';
  }

  #eventTitle{
    width: 400px;
  }

  #eventDescription{
    width: 400px;
  }

  legend{
    display: none;
  }

}

#container{
  background-color: rgba(255, 255, 255, 0.7);
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

#adminCrudBackground{
  margin-top: -16px;
  background-image: url("../../assets/Images/admin_background.jpg") !important;
  background-repeat: no-repeat;
  height: 76vh;
  width: 100%;
  background-size: 100% 100%;
}

#adminBackgroundOpacity{
  background-color: rgba(0, 0, 0, 0.7);
  height: 76vh;
}

.astrix{
  display: inline;
  color: red;
}

#cancelButton{
  margin-left: 10px;
}

#create{
  grid-area: create;
}

mat-vertical-stepper{
  background-color: rgba(255, 255, 255, 0);
}

#editDelete{
  margin: auto;
  grid-area: editDelete;
}

#eventDescription{
  background-color: rgba(255, 255, 255, 0.2);
}
