<div id="container">

  <div id="create">
    <mat-form-field id="eventTitle">
      <mat-label>Band Name / Event</mat-label> <!--Summary-->
      <input [(ngModel)]="eventTitle" matNativeControl>
    </mat-form-field>
    <br>
    <mat-form-field id="eventLink">
      <mat-label>Band / Event Link</mat-label>
      <input [(ngModel)]="eventLink" matNativeControl>
    </mat-form-field>
    <br>
    <div id="eventImage">
      <input [(ngModel)]="eventImage" type="file">
    </div>
    <br>
    <mat-form-field id="eventDescription">
      <mat-label>Description</mat-label>
      <textarea [(ngModel)]="eventDescription" matInput placeholder="Event Description"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Start Date & Time</mat-label>
      <input [(ngModel)]="startDateTime" type="datetime-local" class="startEndWidth" matNativeControl>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>End Date & Time</mat-label>
      <input [(ngModel)]="endDateTime" type="datetime-local" matNativeControl>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Ticket Price</mat-label>
      <input [(ngModel)]="ticketPrice" type="number" min="0" step="0.01" matNativeControl>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Max Seats</mat-label>
      <input [(ngModel)]="maxSeats" type="number" min="1" max="60" matNativeControl>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Refund Cutoff Date & Time</mat-label>
      <input [(ngModel)]="refundCutoffDateTime" type="datetime-local" matNativeControl>
    </mat-form-field>
    <br>

    <button mat-raised-button (click)="createEvent()">Create Event</button>

    <br><br>

  </div>


  <div id="editDelete">
    <mat-vertical-stepper>
      <mat-step label="Select Date">
        <mat-form-field>
          <input matInput [min]="minDate" name="date" [(ngModel)]="date" (dateChange)="resetEventName()" [matDatepicker]="picker" placeholder="Please Pick a Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-step>

      <mat-step label="Select Event">
        <label id="warning" *ngIf="date == null;">Please Select a Date at the top first!</label>
        <select *ngIf="date != null" [(ngModel)]="eventName" name="eventName">
          <option *ngFor="let e of filterEvents()" value="{{e.title}}">{{e.title}}</option>
        </select>
      </mat-step>
    </mat-vertical-stepper>
    <mat-form-field>
      <mat-label>Google Calendar ID</mat-label>
      <input matNativeControl>
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="editEvent()">Edit Event</button>
    <br><br>
    <button mat-raised-button (click)="deleteEvent()">Delete Event</button>
  </div>

</div>
