#container{
  background-color: rgba(255, 255, 255, 0.7);
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  display: grid;
  grid-template-areas: '. . . . create editDelete . . .';
}

#adminCrudBackground{
  margin-top: -16px;
  background-image: url("../../assets/Images/admin_background.jpg") !important;
  background-repeat: no-repeat;
  height: 79.9vh;
  width: 100vw;
  background-size: 100% 100%;
}

#adminBackgroundOpacity{
  background-color: rgba(0, 0, 0, 0.7);
  height: 79.9vh;
}

#eventTitle{
  width: 400px;
}

.astrix{
  display: inline;
  color: red;
}

#cancelButton{
  margin-left: 10px;
}

#create{
  grid-area: create;
}

.startEndWidth{
  width: 800px;
}

mat-vertical-stepper{
  background-color: rgba(255, 255, 255, 0);
}

#editDelete{
  margin: auto;
  grid-area: editDelete;
}

#eventDescription{
  background-color: rgba(255, 255, 255, 0.2);
  width: 400px;
}
