<div id="container">

  <div id="create">
    <mat-form-field id="eventTitle">
      <mat-label>Band Name / Event</mat-label> <!--Summary-->
      <input matNativeControl>
    </mat-form-field>
    <br>
    <mat-form-field id="eventLink">
      <mat-label>Band / Event Link</mat-label>
      <input matNativeControl>
    </mat-form-field>
    <br>
    <div id="eventImage">
      <input type="file">
    </div>
    <br>
    <mat-form-field id="eventDescription">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Event Description"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="startPicker">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Start Time</mat-label>
      <input matNativeControl>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="endPicker">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>End Time</mat-label>
      <input matNativeControl>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Ticket Price</mat-label>
      <input matNativeControl>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Max Seats</mat-label>
      <input matNativeControl>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Refund Cutoff Date</mat-label>
      <input matNativeControl>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Refund Cutoff Time</mat-label>
      <input matNativeControl>
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="createEvent()">Create Event</button>
  </div>

  <div id="editDelete">
    <mat-vertical-stepper>
      <mat-step label="Select Date">
        <mat-form-field>
          <input matInput [min]="minDate" name="date" [(ngModel)]="date" (dateChange)="resetEventName()" [matDatepicker]="picker" placeholder="Please Pick a Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-step>

      <mat-step label="Select Event">
        <label id="warning" *ngIf="date == null;">Please Select a Date at the top first!</label>
        <select *ngIf="date != null" [(ngModel)]="eventName" name="eventName">
          <option *ngFor="let e of filterEvents()" value="{{e.title}}">{{e.title}}</option>
        </select>
      </mat-step>
    </mat-vertical-stepper>
    <mat-form-field>
      <mat-label>Google Calendar ID</mat-label>
      <input matNativeControl>
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="editEvent()">Edit Event</button>
    <br><br>
    <button mat-raised-button (click)="deleteEvent()">Delete Event</button>
  </div>

</div>
