.photoStyle{
  height: 250px;
  width: 400px;
  margin-left: 100px;
  margin-right: 70px;
  margin-top: 50px;
  float: left;
}

img {
  transition:transform 0.25s ease;
}

img:hover {
  -webkit-transform:scale(1.5);
  transform:scale(1.5);
}
