

#warning{
  color: red;
}

/*

**CAN BE USED FOR FADED WHITE BG**

#reservationsBody{
  background-color: rgba(255, 255, 255, 0.7) !important;
  background-image: none !important;
}
*/

/*

**ATTEMPT AT GRID-AREA**

#nameLabel{grid-area: nameLabel;}
.nameInput{grid-area: nameInput;}
.nameWarning{grid-area: nameWarning;}

#grid-container{
  display:grid;
  grid-template-columns: 50px 200px 600px;
  grid-template:
                'nameLabel nameInput nameWarning'
                ;
}
*/
