
<div id=formAndCalContainer>
  <div id="reservationsBody" class="container">
    <mat-vertical-stepper class="">
      <mat-step label="Select Date" *ngIf="date == null; else selectedDate" >
        <mat-form-field>
          <input matInput [min]="minDate" name="date" [(ngModel)]="date" (dateChange)="resetEventName()" [matDatepicker]="picker" placeholder="Please Pick a Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-step>

      <ng-template #selectedDate>
        <mat-step label="Date: {{convertDate(date.toString())}}">
          <mat-form-field>
            <input matInput [min]="minDate" name="date" [(ngModel)]="date" (dateChange)="resetEventName()" [matDatepicker]="picker" placeholder="Please Pick a Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-step>
      </ng-template>

      <mat-step label="Select Event" *ngIf="!eventName; else selectedEvent">
        <label id="warning" *ngIf="date == null;">Please Select a Date at the top first!</label>
        <label id="warning" *ngIf="date != null && filterEvents().length == 0">Sorry, there are no events scheduled on {{convertDate(date.toString())}}.</label>
        <select *ngIf="date != null && filterEvents().length > 0" [(ngModel)]="eventName" name="eventName" (change)="updateEventSelected()">
          <option *ngFor="let e of filterEvents()" value="{{e.eventStart}}">{{e.bandName}}  ${{e.ticketPrice}}</option>
        </select>
      </mat-step>

      <ng-template #selectedEvent>
        <mat-step label="Event: {{this.eventSeatsSold.bandName}}  ${{this.eventSeatsSold.ticketPrice}}">
          <label id="warning" *ngIf="date == null;">Please Select a Date at the top first!</label>
          <label id="warning" *ngIf="date != null && filterEvents().length == 0">Sorry, there are no events scheduled on {{convertDate(date.toString())}}.</label>
          <select *ngIf="date != null && filterEvents().length > 0" [(ngModel)]="eventName" name="eventName" (change)="updateEventSelected()">
            <option *ngFor="let e of filterEvents()" value="{{e.eventStart}}">{{e.bandName}}  ${{e.ticketPrice}}</option>
          </select>
        </mat-step>
      </ng-template>

      <mat-step label="Enter Name" *ngIf="!name; else enteredName">
        <input class="nameInput" style="margin-left: 10px;" type="text" [(ngModel)]="name" name="name" placeholder="Full Name" *ngIf="eventName != null; else nameDisabled" maxlength="35">
          <ng-template #nameDisabled><input class="nameInput" disabled="true" style="margin-left: 10px;" type="text" placeholder="Full Name"></ng-template>
          <br>
          <label class="nameWarning" *ngIf="validateName()">INVALID NAME. Please only use letters a-z for Name. Must be 2 letters minimum.</label>
      </mat-step>

      <ng-template #enteredName>
        <mat-step label="Name: {{name}}">
          <input class="nameInput" style="margin-left: 10px;" type="text" [(ngModel)]="name" name="name" placeholder="Full Name" *ngIf="eventName != null; else nameDisabled" maxlength="35">
            <ng-template #nameDisabled><input class="nameInput" disabled="true" style="margin-left: 10px;" type="text" placeholder="Full Name"></ng-template>
            <br>
            <label class="nameWarning" *ngIf="validateName()">INVALID NAME. Please only use letters a-z for Name. Must be 2 letters minimum.</label>
        </mat-step>
      </ng-template>

      <mat-step label="Enter Email" *ngIf="!email; else enteredEmail">
        <input style="margin-left: 10px;" type="email" [(ngModel)]="email" name="email" placeholder="Email" *ngIf="eventName != null; else emailDisabled" maxlength="50">
        <ng-template #emailDisabled><input disabled="true" style="margin-left: 10px;" type="text" placeholder="Email"></ng-template>
        <br>
        <label *ngIf="validateEmail()">INVALID EMAIL. Please check and re-enter.</label>
      </mat-step>

      <ng-template #enteredEmail>
        <mat-step label="Email: {{email}}">
          <input style="margin-left: 10px;" type="email" [(ngModel)]="email" name="email" placeholder="Email" *ngIf="eventName != null; else emailDisabled" maxlength="50">
          <ng-template #emailDisabled><input disabled="true" style="margin-left: 10px;" type="text" placeholder="Email"></ng-template>
          <br>
          <label *ngIf="validateEmail()">INVALID EMAIL. Please check and re-enter.</label>
        </mat-step>
      </ng-template>

      <mat-step label="Number of Seats" *ngIf="!seats; else enteredSeats">
        <div *ngIf="eventName != null">
          <label>Number of seats:</label>
          <input type="number" [(ngModel)]="seats" name="seats" min="1" max="{{this.eventSeatsSold.maxNumberOfSeats - this.eventSeatsSold.currentNumberOfSeats}}" placeholder="1">
          <p id="priceFormat"> * ${{this.eventSeatsSold.ticketPrice}} (+ Taxes)</p>
        </div>

        <!--
        <ng-template #seatsDisabled>
          <label>Number of seats:</label>
          <input type="number" disabled="true" style="margin-left: 10px;width: 70px;" max="100">
        </ng-template>
        -->
      </mat-step>

      <ng-template #enteredSeats>
        <mat-step label="Number of Seats: {{seats}} * ${{this.eventSeatsSold.ticketPrice}} = ${{this.eventSeatsSold.ticketPrice * seats}} (+ Taxes)">
          <div *ngIf="eventName != null">
            <label>Number of seats:</label>
            <input type="number" [(ngModel)]="seats" name="seats" min="1" max="{{this.eventSeatsSold.maxNumberOfSeats - this.eventSeatsSold.currentNumberOfSeats}}" placeholder="1">
            <p id="priceFormat"> * ${{this.eventSeatsSold.ticketPrice}} = ${{this.eventSeatsSold.ticketPrice * seats}} (+ Taxes)</p>
          </div>
        </mat-step>
      </ng-template>

      <mat-step label="Booking Type">
        <button mat-raised-button (click)="tentativeBooking()" *ngIf="name != '' && email != '' && seats != 0 && eventName != '' && !validateName() && !validateEmail(); else tentativeDisabled">Tentative Booking</button>
          <ng-template #tentativeDisabled><button mat-raised-button disabled="true">Tentative Booking</button></ng-template>
          <br>
          <br>
          <ngx-paypal [config]="payPalConfig"></ngx-paypal>
          <!--
          <button mat-raised-button (click)="paidBooking()" *ngIf="name != '' && email != '' && seats != 0 && eventName != '' && eventName != '' && !validateName() && !validateEmail(); else paidDisabled">Paid Booking</button>
          <ng-template #paidDisabled><button mat-raised-button disabled="true">Paid Booking</button></ng-template>
          -->
      </mat-step>

    </mat-vertical-stepper>

  </div>

  <div id="moonshineCalendar">
    <!--
    <iframe id="calendar" src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FToronto&amp;src=c2NodW5pY2RAZ21haWwuY29t&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4uY2FuYWRpYW4jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=dGhlbW9vbnNoaW5lY2FmZUBnbWFpbC5jb20&amp;color=%237986CB&amp;color=%233F51B5&amp;color=%23C0CA33&amp;color=%23E4C441&amp;mode=AGENDA&amp;showTitle=0"   frameborder="0" scrolling="no"></iframe>
    -->
    <mat-accordion >
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5 id="title">Future Events</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Don't see an event on the day you want to visit? <a href="mailto:moonshinecafe@cogeco.net?subject=My Own Show">Contact us</a> to book your own event!</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           *ngFor = "let e of event">
        <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'120px'">
          <mat-panel-title>
            <p>{{convertCalendarDate(e.eventStart.split('T')[0])}} <br> {{convertTime(e.eventStart.split('T')[1])}} <br> <a *ngIf="e.bandLink; else plainName" href="e.bandLink">{{e.bandName}}</a></p>
            <ng-template #plainName>{{e.bandName}}</ng-template>
          </mat-panel-title>
          <mat-panel-description>
            <p id="description"><br>${{e.ticketPrice}} / ticket</p>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{e.description}}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>

<br><br>
