@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

@font-face {
  font-family: moon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/moon.ttf);
}

@font-face {
  font-family: clipneon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/clip.ttf);
}

@font-face {
  font-family: lasenter;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/lasenter.ttf);
}

.sign-three {
  margin-bottom: 0;
  margin-left: -4vw;
  margin-right: -4vw;
}

.jackpots {
  color: #A9FFDC;
    font-family: clipneon;
    font-size: 4vw;
    margin-left: 14vw;
    margin-top: -.75vw;
    text-shadow:
    -.1vw 0vw .25vw #A9FFDC, -.2vw 0vw .25vw #A9FFDC, -.4vw 0vw .25vw #A9FFDC,
    -.1vw 0vw .1vw #00CC2A, -.2vw 0vw .1vw #00CC2A, -.4vw 0vw .1vw #00CC2A,
    -.1vw 0vw .8vw #00CC2A, -.2vw 0vw .8vw #00CC2A, -.4vw 0vw .8vw #00CC2A, .2vw 0vw .5vw #00CC2A,
    -.1vw 0vw .5vw #00CC2A, -.2vw 0vw .5vw #00CC2A, -.4vw 0vw .5vw #00CC2A,
    -.1vw 0vw 10vw #16FA19, -.2vw 0vw 10vw #16FA19, -.4vw 0vw 10vw #16FA19;
}

#ui {

  text {
    position: absolute;
    font-size: $fontSize;
    color: #fff;
    line-height: $fontSize;
    // opacity: 0;
    font-family: 'Anton', sans-serif;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    // filter: blur(2px) contrast(5);
    letter-spacing: 1rem;

    @for $i from 0 through 100 {
      $key: $i + 1;
      &:nth-child(#{$key}) {
        $row: floor($i / 20);
        // color: rgba(random(155) + 100, random(155) + 100, random(55), 1);
        color: rgba(random(30), random(100), random(155) + 100, 1);
        animation: clip#{$i} random(10000) + 10000ms ease-in-out infinite alternate;
        filter: blur(#{random(25) - 10}px);
        @keyframes clip#{$i} {
          0% {
            clip-path: circle(random(150) + 30px at random(160) - 30% random(160) - 30%);
          }
          25% {
            clip-path: circle(random(150) + 30px at random(160) - 30% random(160) - 30%);
          }
          50% {
            clip-path: circle(random(150) + 30px at random(160) - 30% random(160) - 30%);
          }
          75% {
            clip-path: circle(random(150) + 30px at random(160) - 30% random(160) - 30%);
          }
          100% {
            clip-path: circle(random(150) + 30px at random(160) - 30% random(160) - 30%);
          }
        }
      }
    }
  }
}

#homePage{
  background-color: rgba(255, 255, 255, 0.7);
}

#leftMoonshineCafeColor{
  display: inline;
  color: maroon;
}

.spotlightImages{
  grid-area: 'spotlightImg';
}

.spotlightHeaders{
  font-weight: bold;
  grid-area: 'spotlightHeader';
}

.spotlightGridContainer{
  display: grid;
  grid-template-areas:
  'spotlightImg spotlightHeader'
  'spotlightImg spotlightText';
}

.spotlightText{
  grid-area: 'spotlightText';
}
