<div id="homePage" class="grid-container">

  <h3 id="leftTileHeader">Welcome to the <h3 id="leftMoonshineCafeColor">Moonshine Café</h3></h3>

  <div id="sptlightHeaderBackground">
    <h3 id="spotlightHeaderText">In The Spotlight</h3>
    <div id="upcomingEvents" class="grid-container2" *ngIf="result != null">
      test
    </div>
  </div>


  <div id="moonshineVideo" class="center">
    <iframe id="moonshineVideo" width="350" height="300" src="https://www.youtube.com/embed/pDOoidfERvQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
  </div>

  <div id="moonshineCalendar" class="center">
    <iframe id="calendarSize" src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FToronto&amp;src=c2NodW5pY2RAZ21haWwuY29t&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4uY2FuYWRpYW4jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=dGhlbW9vbnNoaW5lY2FmZUBnbWFpbC5jb20&amp;color=%237986CB&amp;color=%233F51B5&amp;color=%23C0CA33&amp;color=%23E4C441&amp;mode=AGENDA&amp;showTitle=0" style="border:solid 1px #777" height="400" frameborder="0" scrolling="no"></iframe>
  </div>
</div>
<br>
<div id="emailSubscription">
  <p id="emailText">
    Join Our Mailing List!
  </p>
    <input id="clientEmail" [(ngModel)]="clientEmail" name="clientEmail" type="text">
  <button id="joinButton" (click)="joinMailingList()" mat-raised-button>Join</button>
</div>
<br>
