<div id="homePage" class="grid-container">

  <h3 id="leftTileHeader">Welcome to the <h3 id="leftMoonshineCafeColor">Moonshine Café</h3></h3>

  <div id="spotlightHeaderBackground">
    <h3 id="spotlightHeaderText">In The Spotlight</h3>
  </div>

  <div id="spotlightOne" class="spotlightStyle">
    <img src="../../assets/Images/test_albumCover.jpg" class="spotlightAlbumImage">
    <h5>{{event[0].bandName}} : {{convertDate(event[0].eventStart.split('T')[0])}} {{convertTime(event[0].eventStart.split('T')[1])}} ${{event[0].ticketPrice}}</h5>
    <p>{{event[0].description}}</p>
  </div>

  <div id="spotlightTwo" class="spotlightStyle">
    <img src="../../assets/Images/test_albumCover.jpg" class="spotlightAlbumImage">
    <h5>{{event[1].bandName}} : {{convertDate(event[1].eventStart.split('T')[0])}} {{convertTime(event[1].eventStart.split('T')[1])}} ${{event[1].ticketPrice}}</h5>
    <p>{{event[1].description}}</p>
  </div>

  <div id="spotlightThree" class="spotlightStyle">
    <img src="../../assets/Images/test_albumCover.jpg" class="spotlightAlbumImage">
    <h5>{{event[2].bandName}} : {{convertDate(event[2].eventStart.split('T')[0])}} {{convertTime(event[2].eventStart.split('T')[1])}} ${{event[2].ticketPrice}}</h5>
    <p>{{event[2].description}}</p>
  </div>

  <div id="spotlightFour" class="spotlightStyle">
    <img src="../../assets/Images/test_albumCover.jpg" class="spotlightAlbumImage">
    <h5>{{event[2].bandName}} : {{convertDate(event[2].eventStart.split('T')[0])}} {{convertTime(event[2].eventStart.split('T')[1])}} ${{event[2].ticketPrice}}</h5>
    <p>{{event[2].description}}</p>
  </div>


  <div id="moonshineVideo" class="center">
    <iframe id="moonshineVideo" width="350" height="300" src="https://www.youtube.com/embed/pDOoidfERvQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
  </div>

  <div id="moonshineCalendar" class="center">
    <!--
    <iframe id="calendarSize" src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FToronto&amp;src=c2NodW5pY2RAZ21haWwuY29t&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4uY2FuYWRpYW4jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=dGhlbW9vbnNoaW5lY2FmZUBnbWFpbC5jb20&amp;color=%237986CB&amp;color=%233F51B5&amp;color=%23C0CA33&amp;color=%23E4C441&amp;mode=AGENDA&amp;showTitle=0" style="border:solid 1px #777" height="400" frameborder="0" scrolling="no"></iframe>
    -->

    <mat-accordion >
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5>Future Events</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Don't see an event on the day you want to visit? <a href="mailto:moonshinecafe@cogeco.net?subject=My Own Show">Contact us</a> to book your own event!</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           *ngFor = "let e of event">
        <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'120px'">
          <mat-panel-title>
            {{convertDate(e.eventStart.split('T')[0])}} <br> {{convertTime(e.eventStart.split('T')[1])}} <br> {{e.bandName}}
          </mat-panel-title>
          <mat-panel-description>
            <br>${{e.ticketPrice}} / ticket
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{e.description}}</p>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           *ngFor = "let e of event">
        <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'120px'">
          <mat-panel-title>
            {{convertDate(e.eventStart.split('T')[0])}} <br> {{convertTime(e.eventStart.split('T')[1])}} <br> {{e.bandName}}
          </mat-panel-title>
          <mat-panel-description>
            <br>${{e.ticketPrice}} / ticket
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{e.description}}</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           *ngFor = "let e of event">
        <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'120px'">
          <mat-panel-title>
            {{convertDate(e.eventStart.split('T')[0])}} <br> {{convertTime(e.eventStart.split('T')[1])}} <br> {{e.bandName}}
          </mat-panel-title>
          <mat-panel-description>
            <br>${{e.ticketPrice}} / ticket
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{e.description}}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<br>
<div id="emailSubscription">
  <p id="emailText">
    Join Our Mailing List!
  </p>
    <input id="clientEmail" [(ngModel)]="clientEmail" name="clientEmail" type="text">
  <button id="joinButton" (click)="joinMailingList()" mat-raised-button>Join</button>
</div>
<br>
