@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");

#homePage{
  background-color: rgba(255, 255, 255, 0.7);
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

a{
  color: maroon;
}



@media screen and (max-width: 768px){

  #leftTileHeader{font-size: 18px;}
  #leftMoonshineCafeColor{font-size: 20px;}
  #homePage{text-align: center;}
  #spotlightHeaderBackground{margin: auto;}
  #moonshineCalendar{width:300px; height: 400px; overflow-y: auto;}
  #calendarSize{width: 300px;}
  #moonshineVideo{width: 300px;}
  #emailText{padding-right: 0;}
  #joinButton{margin-left: 0; margin-top: 10px;}
  #emailSubscription{
    width: 225px;
    height: 150px;
  }
}

@media screen and (min-width: 769px){

  .grid-container{
    display: grid;
    text-align: center;
    grid-template-areas:
    '. leftTitleGrid leftTitleGrid mailingList .'
    '. spotlightTitleGrid spotlightTitleGrid videoGrid .'
    '. spotlightOne spotlightOne videoGrid .'
    '. spotlightTwo spotlightTwo calendarGrid .'
    '. spotlightThree spotlightThree calendarGrid .'
    '. spotlightFour spotlightFour calendarGrid .'
    /* REPLACE .'s above with spotlightOne etc... as we add spotlight features */
    ;
    grid-gap: 10px;
  }

  #leftTileHeader{grid-area: leftTitleGrid;}
  #spotlightHeaderBackground{grid-area: spotlightTitleGrid;}
  #moonshineVideo{grid-area: videoGrid;}
  #spotlightOne{grid-area: spotlightOne;}
  #spotlightTwo{grid-area: spotlightTwo;}
  #spotlightThree{grid-area: spotlightThree;}
  #spotlightFour{grid-area: spotlightFour;}

  #emailSubscription{
    grid-area: mailingList;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    width: 450px;
    margin: auto;
  }

  #moonshineCalendar{
    grid-area: calendarGrid;
    overflow-y: auto;
    width: 500px;
    height: 500px;
    border-radius: 5px;
  }

  .spotlightAlbumImage{
    height: 150px;
    float: left;
    padding-top: 5px;
    padding-left: 5px;
  }

  .spotlightStyle{
    height: 160px;
    border: 2px solid black;
    border-radius: 5px;
  }

  #moonshineCalendar::-webkit-scrollbar {
    width: 1em;
  }

  #moonshineCalendar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  #moonshineCalendar::-webkit-scrollbar-thumb {
    background-color: rgb(131, 131, 131);
    border-radius: 10px;
    outline: 1px solid slategrey;
  }

  #calendarTitle{
    height: 60px;
  }

  #emailText{
    padding-right: 10px;
    display: inline-block;
  }

  #joinButton{
    margin-left: 10px;
    display: inline-block;
  }

}

#leftTileHeader{padding-top: 20px;}

.center{margin: auto;}

#leftMoonshineCafeColor{
  display: inline;
  color: maroon;
}

.spotlightImages{
  grid-area: 'spotlightImg';
}

.spotlightHeaders{
  font-weight: bold;
  grid-area: 'spotlightHeader';
}

.spotlightGridContainer{
  display: grid;
  grid-template-areas:
  'spotlightImg spotlightHeader'
  'spotlightImg spotlightText';
}

.spotlightText{
  grid-area: 'spotlightText';
}

#spotlightHeaderBackground{
  margin: auto;
  width: 50%;
  height: 100%;
  text-align: center;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.808);
}

#spotlightHeaderText{
  padding-top: 30px;
  padding-bottom: 23px;
  font-size: calc(3vh);
  line-height: calc(20px + 3vh);
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 50px #ff0000, 0 0 10px #ff8d00;
    color: #fff6a9;
  font-family: "Pacifico", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 50px #ff0000, 0 0 10px #ff8d00;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 50px #ff0000, 0 0 10px #ff8d00;
    color: #fff6a9;
  }
}
