<header>

  <a [routerLink]="['/']"><img src="../../assets/Images/navMenu_MoonshineLogo.jpg" id="navbarImage"></a>

  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3"
  >

    <div class="container">

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-center"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow" id="menuStyle">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="toggle()"
          >
            <a *ngIf="this.data.isAdmin; else adminHome" class="nav-link text-light" [routerLink]="['/adminhome']">Admin Home</a>
            <ng-template #adminHome><a class="nav-link text-light" [routerLink]="['/']">Home</a></ng-template>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" (click)="toggle()">
            <a *ngIf="this.data.isAdmin; else adminCrudEvent" class="nav-link text-light" [routerLink]="['/adminCrudEvent']">Create/Edit Event</a>
            <ng-template #adminCrudEvent><a class="nav-link text-light" [routerLink]="['/aboutUs']">AboutUs</a></ng-template>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" (click)="toggle()">
            <a *ngIf="this.data.isAdmin; else adminViewReservations" class="nav-link text-light" [routerLink]="['/adminViewReservations']">View Reservations</a>
            <ng-template #adminViewReservations><a class="nav-link text-light" [routerLink]="['/menu']">Menu</a></ng-template>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" (click)="toggle()">
            <a *ngIf="this.data.isAdmin; else adminPhotoGallery" class="nav-link text-light" [routerLink]="['/adminPhotoGallery']">Upload Photos</a>
            <ng-template #adminPhotoGallery><a class="nav-link text-light" [routerLink]="['/calendar']">Calendar</a></ng-template>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" (click)="toggle()">
            <a *ngIf="!this.data.isAdmin;" class="nav-link text-light" [routerLink]="['/photos']">Photos</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" (click)="toggle()">
            <a *ngIf="!this.data.isAdmin;" class="nav-link text-light" [routerLink]="['/reservations']">Reservations</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" (click)="toggle()">
            <a *ngIf="!this.data.isAdmin;" class="nav-link text-light" [routerLink]="['/contact']">Contact</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" (click)="toggle()">
            <a *ngIf="this.data.isAdmin;" class="nav-link text-light" [routerLink]="['/adminSendEmail']">Send Email</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://www.instagram.com/moonshinecafe_oakville/">
              <img src="https://moonshinephotos.s3.amazonaws.com/ReceiptPhotos/instagram.png" style="width:40px;height:40px;">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://twitter.com/moonshinecafe">
              <img src="https://moonshinephotos.s3.amazonaws.com/ReceiptPhotos/twitter.png" style="width:40px;height:40px;">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://www.facebook.com/themoonshinecafe/">
              <img src="https://moonshinephotos.s3.amazonaws.com/ReceiptPhotos/facebook.png" style="width:40px;height:40px;">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://www.patreon.com/themoonshinecafe">
              <img src="https://moonshinephotos.s3.amazonaws.com/ReceiptPhotos/Patreon.png" style="width:40px;height:40px;">
            </a>
            <!--
            <div id="patreonBackground">
              <a class="nav-link" target="_blank" href="https://www.patreon.com/themoonshinecafe">
                <img src="../../assets/Images/patreon.gif" style="width: 170px; height: 50px;">
              </a>
            </div>
            -->
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
