<header>

  <a [routerLink]="['/']"><img src="../../assets/Images/navMenu_MoonshineLogo.jpg" id="navbarImage"></a>

  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3"
  >

    <div class="container">

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-center"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow" id="menuStyle">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a *ngIf="this.data.isAdmin; else adminHome" class="nav-link text-light" [routerLink]="['/adminhome']">Admin Home</a>
            <ng-template #adminHome><a class="nav-link text-light" [routerLink]="['/']">Home</a></ng-template>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a *ngIf="this.data.isAdmin; else adminCrudEvent" class="nav-link text-light" [routerLink]="['/adminCrudEvent']">Create/Edit Event</a>
            <ng-template #adminCrudEvent><a class="nav-link text-light" [routerLink]="['/aboutUs']">AboutUs</a></ng-template>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a *ngIf="this.data.isAdmin; else adminViewReservations" class="nav-link text-light" [routerLink]="['/adminViewReservations']">View Reservations</a>
            <ng-template #adminViewReservations><a class="nav-link text-light" [routerLink]="['/menu']">Menu</a></ng-template>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a *ngIf="this.data.isAdmin; else adminPhotoGallery" class="nav-link text-light" [routerLink]="['/adminPhotoGallery']">Upload Photos</a>
            <ng-template #adminPhotoGallery><a class="nav-link text-light" [routerLink]="['/calendar']">Calendar</a></ng-template>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a *ngIf="!this.data.isAdmin;" class="nav-link text-light" [routerLink]="['/photos']"
              >Photos</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a *ngIf="!this.data.isAdmin;" class="nav-link text-light" [routerLink]="['/reservations']"
              >Reservations</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a *ngIf="!this.data.isAdmin;" class="nav-link text-light" [routerLink]="['/contact']"
              >Contact</a
            >
          </li>
        </ul>

        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link">
              <iframe
                id="twitter-widget-0"
                scrolling="no"
                frameborder="0"
                allowtransparency="true"
                allowfullscreen="true"
                class="twitter-follow-button twitter-follow-button-rendered"
                style="margin-top: 3px; margin-bottom: 3px; height: 20px; border-bottom-right-radius: 10px; border-top-right-radius: 5px;"
                title="Twitter Follow Button"
                src="https://platform.twitter.com/widgets/follow_button.e16c6ecf9d86005b77fc7c17beced5d8.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=MoonshineCafe&amp;show_count=false&amp;show_screen_name=false&amp;size=m&amp;time=1618349491776"
                data-screen-name="MoonshineCafe"
              ></iframe>

            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://www.facebook.com/themoonshinecafe/">
              <mat-icon id="facebookColor">facebook</mat-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
