#adminBody{
  margin-top: -16px;
  background-image: url("../../assets/Images/admin_background.jpg") !important;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100vw;
  background-size: 100% 100%;
}

html, body{
  margin: 0px !important;
  height: 80vh !important;
}

#adminFadeBackground{
  margin: 0;
  position: fixed;
  height: 120px;
  width: 220px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  animation: loginBtn 5s infinite;
}

@keyframes loginBtn {

  0%, 100% {background-color: rgba(255, 255, 255, 0);}
  50% {background-color: rgb(255, 255, 255);}
}

#center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 100px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#loginStatus{
  text-align: center;
  padding-top: auto;
  padding-bottom: auto;
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}
