<div id="aboutUs">

  <br>
  <p><b>An Intimate Venue - No TV</b></p>
  <p><b>Stay Current with events & updates at the Moonshine Café</b></p>


  <!--<a href="mailto:moonshinecafe@cogeco.net?subject=Please add me to your mailing list&body=Thank You!">Join Our Mailing List</a>-->

  <br>
  <img src="../../assets/Images/about_jane_john.jpg">

  <p id="photoText">Your Hosts - Jane and John</p>

  <p>
    John & Jane invite you to come visit us often to enjoy and be part of the live entertainment presented every night of the week.
    The Moonshine is an intimate venue (capacity 60) that artists, performers, their friends and fans can feel at home.
    We thank all the wonderful artists and the many loyal customers that we've met and become friends with through our involvement in the music business.
  </p>

  <p>
    Thanks for the shows and good times we've enjoyed together.
    Without you this couldn't be happening. The Moonshine is a wonderful place to be.
    We will always be grateful to Ricky Joe Vella and Paul Toms who shared out vision and invested in it.
  </p>

  <p><b>The Moonshine Cafe is fully licensed by the LLBO</b></p>

  <p><b>GOAL & HOUSEKEEPING</b></p>

  <p>
    We support, encourage and promote artists by providing a welcoming venue for the accomplished performer,
    the beginner and those who are "somewhere in between" to perform or showcase their art in a comfortable atmosphere.
    WE INSIST that performer's are treated respectfully during performances. This essentially means being quiet during the show.
    WE HAVE WORKED HARD to build a reputation as being one of the finest small venues in the country. WE GUARD that reputation jealously.
  </p>

  <p><i>"We work diligently to help build and support the artistic community in the area"</i></p>

  <p><b>FULLY LICENSED LLBO</b></p>

  <p><b>EVENTS</b></p>

  <p>(<a href="/calendar">Check Often</a>)</p>

  <p>
    There's something happening every night of the week.....Open Stage/Open Mic's/Jam Sessions,Songwriter Stage,
    Featured Artists - Showcases - Bands - Groups - Individuals - Theme Nights - Ticketed Concerts ?"Pass the Hat"
    or Pay What You Can Events HOSTS OF: The Oakville Folk Club,The Oakville Poetry Alliance, Oakville Improv Comedy Theatre, NSAI.
  </p>
<!-- 
  <p><b>LOCAL ARTISTS</b></p>

  <p>The Cafe walls have become a "mini" gallery featuring the works of local artists.</p>

  <p>Book Your Own Show at The Moonshine Cafe <a href="mailto:moonshinecafe@cogeco.net?subject=My Own Show">Contact Us</a></p>

  <p>Book a Party or Private Function <a href="mailto:moonshinecafe@cogeco.net?subject=Private Function">Contact Us</a></p> -->

</div>

<br><br>
